
@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    src: url("fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: 'PT_Sans';
    src: url("fonts/PT_Sans/PTSans-Regular.ttf");
}

@font-face {
    font-family: 'Lato';
    src: url("fonts/Lato/Lato-Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    color: #0C1014;
    font-size: 16px;
    font-family: 'PT_Sans';
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    box-sizing: content-box;
}



.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}


.btn {
    padding: 14px 0 16px;
    background-color: #E5266E;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}



.main__btn {
    width: 200px;
    margin-top: 30%;
    margin-left: 40%;
    border-radius: 5px;
}

.main__btn:hover {
    border: 1px solid #E5266E;
    background-color: #fff;
    color: #E5266E;
}

.modal {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.42);
}

.modal__body {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 53px 97px;
    max-width: 560px;
    background-color: #fff;
    border-radius: 12px;
}

.modal__title {
    margin: 0;
    margin-bottom: 35px;
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 800;
    line-height: 34px;
}

.modal__input {
    outline: none;
    padding: 0;
    padding-left: 16px;
    padding-top: 8px;
    font-size: 16px;
    height: 46px;
    margin-bottom: 32px;
    border: 1px solid #D6DADE;
}

.modal__user-info {
    display: flex;
    justify-content: space-between;
}

.modal__user-wrapper {
    display: flex;
    flex-direction: column;
}

.modal__user-wrapper .modal__input {
    width: 346px;
}

.modal__logo {
    position: relative;
    /* background-image: url("img/Ellipse\ 44.png");
    background-repeat: no-repeat;
    background-position: center; */
    display: flex;
    flex-direction: column;
}

.modal__logo-image {
    position: absolute;
    width: 163px;
    height: 163px;
    object-fit: cover;
    align-self: center;
    top: 50px;
    border-radius: 163px;
}

.modal__logo-close {
    position: absolute;
    display: inline-block;
    top: 65px;
    right: 50px;
    width: 36px;
    height: 36px;
    background-image: url("img/icon/Group\ 2394.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 2;
}

.modal__logo label {
    position: absolute;
    text-decoration: underline;
    font-size: 18px;
    color: #fff;
    top: 130px;
    left: 90px;
    width: 80px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    z-index: 2;
}

.modal__input-item {
    position: relative;
}

.modal__input-item label,  .modal__direcion label, .modal__leader label {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #6A6E72;
}

.modal__logo-input {
    position: absolute;
    display: inline-block;
    right: 30px;
    bottom: 57px;
    width: 29px;
    height: 29px;
    background-image: url("img/icon/Vector.svg");
    background-repeat: no-repeat;
}

.modal__logo input[type="file"] {
    opacity: 0;
}

.modal__star {
    color: #D90000;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.modal__logo p {
    color: #6A6E72;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.modal__direcion, .modal__leader {
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal__direcion .modal__input {
    height: 56px;
    appearance: none;
    -webkit-appearance: none;
      -moz-appearance: none;
    background-image: url("img/icon/Group.svg");
    background-repeat: no-repeat;
    background-position: right 2% center;
    cursor: pointer;
}

.modal__social {
    display: flex;
    flex-direction: column;
}

.modal__btn-sub {
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Lato';
}

.modal__close {
    background-color: transparent;
    color: #0848C0;
}

.site, .vk, .ok, .fb, .inst, .youtb {
    background-repeat: no-repeat;
    background-position: right 2% center;
}

.site {
    background-image: url("img/icon/global\ 1.svg");
}

.vk {
    background-image: url("img/icon/vk\ 1.svg");
}

.ok {
    background-image: url("img/icon/odnoklassniki\ 3.svg");
}

.fb {
    background-image: url("img/icon/Icon.svg");
}

.inst {
    background-image: url("img/icon/Instagram_Color_icon-icons.com_71811\ 1.svg");
}

.youtb {
    background-image: url("img/icon/youtube\ 2.svg");
}

.hide {
    display: none;
}

@media (max-width: 800px) {
    .modal__body {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 745px) {

    .modal__title {
        text-align: center;
    }
    .modal__user-info {
        flex-direction: column-reverse;
    }

    .modal__logo {
        height: 220px;
        display: flex;
        flex-direction: column;
    }

    .modal__logo label {
        position: relative;
        align-self: center;
        left: 0;
        top: 100px;
    }

    .modal__logo::before {
        top: 20%;
        right: 30%;
    }

    .modal__input-item  {
       display: flex;
    }

    .modal__user-wrapper .modal__input {
        width: 100%;
    }

    .modal__body {
        padding: 10% 10%;
    }

    .main__btn {
        margin-left: 35%;
    }
}


@media (max-width: 600px) {
    .modal__title {
        font-size: 24px;
    }


}

@media (max-width: 500px) {
    .modal__title {
        font-size: 24px;
    }

    .modal__body {
        padding: 5% 5%;
    }

    .modal__input {
        font-size: 14px;
    }

    .main__btn {
        margin-left: 30%;
    }
}

@media (max-width: 400px) {
    .modal__title {
        font-size: 20px;
    }

    .modal__logo::before {
        right: 20%;
    }

    .main__btn {
        margin-left: 25%;
    }
}
